.my-form {
    padding: 20px;

    &--header {
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    span {
        font-size: 50px;
    }
}